<p>
  <b>Name:</b>
  <%=h @customer.name %>
</p>

<p>
  <b>Password:</b>
  <%=h @customer.password %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @customer.mobile %>
</p>

<p>
  <b>Address:</b>
  <%=h @customer.address %>
</p>

<p>
  <b>Contract:</b>
  <%=h @customer.contract %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>